## Recommonder System on Small Dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
ratings=pd.read_csv('toy_dataset.csv',index_col=0)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [3]:
ratings.fillna(0,inplace=True)

In [4]:
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [8]:
def standardize(row):
    new_row=(row-row.mean())/(row.max()-row.min())
    return new_row

ratings_std=ratings.apply(standardize)

In [9]:
print(ratings_std)

        action1  action2   action3  romantic1  romantic2  romantic3
user 1     0.36      0.6  0.400000      -0.65      -0.08      -0.35
user 2     0.56      0.2  0.400000      -0.15      -0.08      -0.60
user 3    -0.24     -0.4 -0.600000       0.35       0.52       0.40
user 4    -0.44      0.0 -0.266667       0.35      -0.48       0.15
user 5    -0.24     -0.4  0.066667       0.10       0.12       0.40

In [10]:
## Item Based Collaborative Filtering
item_similarity=cosine_similarity(ratings_std.T)

In [11]:
item_similarity

array([[ 1.        ,  0.70668875,  0.81368151, -0.79941088, -0.02539184,
        -0.91410609],
       [ 0.70668875,  1.        ,  0.72310153, -0.84515425, -0.5189993 ,
        -0.84337386],
       [ 0.81368151,  0.72310153,  1.        , -0.84794611, -0.3799803 ,
        -0.80218063],
       [-0.79941088, -0.84515425, -0.84794611,  1.        ,  0.14803913,
         0.72374686],
       [-0.02539184, -0.5189993 , -0.3799803 ,  0.14803913,  1.        ,
         0.39393939],
       [-0.91410609, -0.84337386, -0.80218063,  0.72374686,  0.39393939,
         1.        ]])

In [12]:
item_similarity=pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)

In [13]:
item_similarity

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

In [14]:
def get_similar_movie(movie,user_ratings):
    similar_score=item_similarity[movie]*user_ratings
    similar_score=similar_score.sort_values(ascending=False)
    
    return similar_score

In [19]:
item_similarity['action1']

action1      1.000000
action2      0.706689
action3      0.813682
romantic1   -0.799411
romantic2   -0.025392
romantic3   -0.914106
Name: action1, dtype: float64

In [15]:
print(get_similar_movie('action1',5))

action1      5.000000
action3      4.068408
action2      3.533444
romantic2   -0.126959
romantic1   -3.997054
romantic3   -4.570530
Name: action1, dtype: float64

In [16]:
print(get_similar_movie('romantic1',1))

romantic1    1.000000
romantic3    0.723747
romantic2    0.148039
action1     -0.799411
action2     -0.845154
action3     -0.847946
Name: romantic1, dtype: float64

## Above example shows it is also wron model

In [17]:
def get_similar_movie(movie,user_ratings):
    similar_score=item_similarity[movie]*(user_ratings-2.5)
    similar_score=similar_score.sort_values(ascending=False)
    
    return similar_score

In [18]:
print(get_similar_movie('romantic1',1))

action3      1.271919
action2      1.267731
action1      1.199116
romantic2   -0.222059
romantic3   -1.085620
romantic1   -1.500000
Name: romantic1, dtype: float64