In [1]:
## Movie Recommonder System

In [40]:
## Loading Libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [41]:
## Loading Data
df_movie=pd.read_csv('movies.csv')
df_ratings=pd.read_csv('ratings.csv')

df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [42]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [43]:
## Merfing movie with ratings
df_user_ratings=pd.merge(df_ratings,df_movie,on='movieId')
df_user_ratings

,userId,movieId,rating,timestamp,title,genres
0,1,16,4.0,1217897793,Casino (1995),Crime|Drama
1,9,16,4.0,842686699,Casino (1995),Crime|Drama
2,12,16,1.5,1144396284,Casino (1995),Crime|Drama
3,24,16,4.0,963468757,Casino (1995),Crime|Drama
4,29,16,3.0,836820223,Casino (1995),Crime|Drama
...,...,...,...,...,...,...
105334,668,140098,2.5,1450415424,Runoff (2015),Drama
105335,668,140816,2.5,1443288791,Tangerine (2015),Comedy|Drama
105336,668,141472,2.5,1442679119,The 50 Year Argument (2014),(no genres listed)
105337,668,142488,4.0,1451535844,Spotlight (2015),Thriller
105338,668,142507,3.5,1451535889,Pawn Sacrifice (2015),Drama

In [44]:
# df_user_ratings.groupby(['userId','movieId','rating'])['userId'].count().sort_values(ascending=False)
# # dup=df_user_ratings[df_user_ratings.duplicated()]
# # dup
# df_user_ratings.reset_index()

In [20]:
# df_user_ratings.drop_duplicates(inplace=True)

In [37]:
# ## Creating pivot
# user_rating_mat=df_user_ratings.pivot(index='userId',columns='title',values='rating')
# user_rating_mat.head()

ValueError: Index contains duplicate entries, cannot reshape

In [45]:
user_rating_mat=df_user_ratings.pivot_table(index='userId',columns='title',values='rating',aggfunc='sum')

In [46]:
user_rating_mat

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,2.5,NaN,NaN,NaN,2.0,NaN,3.0,2.5,...,NaN,1.5,0.5,NaN,2.0,NaN,3.5,NaN,2.0,3.0

In [50]:
user_rating_mat.shape

(668, 10323)

In [48]:
user_ratings=user_rating_mat.dropna(thresh=10,axis=1).fillna(0,axis=1)

In [49]:
user_ratings.shape

(668, 2315)

In [51]:
user_ratings.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),127 Hours (2010),...,Young Guns II (1990),Young Sherlock Holmes (1985),Zack and Miri Make a Porno (2008),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
corr_matrix=user_ratings.corr(method='pearson')

In [54]:
corr_matrix.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),127 Hours (2010),...,Young Guns II (1990),Young Sherlock Holmes (1985),Zack and Miri Make a Porno (2008),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,-0.006918,0.215640,0.082411,0.114110,0.049633,0.099504,0.138190,0.133915,0.058505,...,0.026595,0.043570,0.159243,0.006989,0.094661,0.173071,0.081404,0.185659,0.077304,0.128605
(500) Days of Summer (2009),-0.006918,1.000000,0.020652,0.063079,0.160915,0.191607,0.044498,0.091379,0.087441,0.313089,...,-0.029614,-0.032551,0.305797,0.015281,0.346972,0.331373,0.264087,0.097257,0.201568,0.039446
*batteries not included (1987),0.215640,0.020652,1.000000,-0.015380,0.145954,0.092240,0.033886,0.099740,0.059944,-0.018325,...,0.125969,-0.017519,0.066173,0.122175,0.025189,0.055981,0.011039,0.086341,-0.022285,0.112441
...And Justice for All (1979),0.082411,0.063079,-0.015380,1.000000,0.081823,-0.014657,0.082126,0.100247,0.169133,0.043585,...,0.045524,0.185051,0.074082,0.186946,0.215165,0.039779,0.139236,0.054715,0.197637,0.110787
10 Things I Hate About You (1999),0.114110,0.160915,0.145954,0.081823,1.000000,0.110462,0.085477,0.274698,0.072888,0.153373,...,0.141131,0.065374,0.216029,0.092914,0.222277,0.120245,0.213239,0.226379,0.104678,0.133899

In [60]:
def get_similar_movies(movie_name,ratings):
    similar_ratings=corr_matrix[movie_name]
    similar_ratings=similar_ratings.sort_values(ascending=False)[:5]
    return similar_ratings

In [61]:
# Zodiac (2007)
get_similar_movies('Fargo (1996)',5)

title
Fargo (1996)             1.000000
Apocalypse Now (1979)    0.420591
Psycho (1960)            0.404745
Goodfellas (1990)        0.399805
Trainspotting (1996)     0.393949
Name: Fargo (1996), dtype: float64